version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${login}
      POSTGRES_PASSWORD: ${password}
      POSTGRES_DB: hackathon_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data

  web:
    build:
      context: ./Backend
    depends_on:
      - db
      - minio
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/hackathon_db
      SECRET_KEY: ${SECRET_KEY}
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      MINIO_SECURE: "false"
      DEFAULT_ADMIN_USERNAME: ${DEFAULT_ADMIN_USERNAME}
      DEFAULT_ADMIN_PASSWORD: ${DEFAULT_ADMIN_PASSWORD}
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

volumes:
  pgdata:
  miniodata:
